
body {
    font-family: 'Roboto', sans-serif;
}

.section-title {
    font-family: 'Raleway', cursive;
}

.navbar {
    background-color: #1E1E1E;
}

#cabecalho .nav .nav-link.active {
    background-color: #F5F5F5;
    color: #FF4C4C;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #F5F5F5;
}

.navbar-toggler {
    background-color: #ffeae6;
}

#sobre-o-bar, #cardapio{
    background-color: #1E1E1E;
    color: #F5F5F5;
} 

.text-colored {
    color: #FF4C4C;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #FF4C4C;
    color: #F5F5F5;
}

.nav-cardapio .nav-link:hover {
    color: #F5F5F5;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.card-img-top {
    height: 280px;
    object-fit: cover;
    width: 100%;
}

.col-md-3 img {
    width: 251.01px;
    height: 251.01px;
    object-fit: cover;
}

.form {
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #0000001a;
    background-color: #1E1E1E;
}



@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

body {
    font-family: 'Roboto', sans-serif;
}

.section-title {
    font-family: 'Raleway', cursive;
}

.navbar {
    background-color: #1E1E1E;
}

#cabecalho .nav .nav-link.active {
    background-color: #F5F5F5;
    color: #FF4C4C;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #F5F5F5;
}

.navbar-toggler {
    background-color: #ffeae6;
}

#sobre-o-bar, #cardapio{
    background-color: #1E1E1E;
    color: #F5F5F5;
} 

.text-colored {
    color: #FF4C4C;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #FF4C4C;
    color: #F5F5F5;
}

.nav-cardapio .nav-link:hover {
    color: #F5F5F5;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.card-img-top {
    height: 280px;
    object-fit: cover;
    width: 100%;
}

.col-md-3 img {
    width: 251.01px;
    height: 251.01px;
    object-fit: cover;
}

.form {
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #0000001a;
    background-color: #1E1E1E;
}
}



@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}